<div>
  <div class="sidebar">
    <div class="form-group">
      <label for="study">Study</label>
      <select (ngModelChange)="onChangeDiffStudy($event)" [(ngModel)]="study" class="form-control" id="study">
        <option *ngFor="let stud of studies;" [ngValue]="stud">{{stud.studyName}}</option>
      </select>
    </div>
    <div *ngIf="study != undefined">
      <div class="form-group">
        <label for="subId">Substation</label>
        <div *ngIf="subs.length == 0; else subSelContent">....</div>
        <ng-template #subSelContent>
          <select [(ngModel)]="subId" class="form-control" id="subId">
            <option *ngFor="let sub of subs;" [ngValue]="sub">{{sub}}</option>
          </select>
          <p></p>
          <label>Threshold</label>
          <input #inThreshold="ngModel" [(ngModel)]="threshold" class="form-control" min="0" required step="0.01" type="number">
          <p *ngIf="inThreshold.errors" class="alert alert-danger invalid">invalid threshold value</p>
          <p></p>
          <button (click)="networkDiff()" class="btn btn-info" type="button">Compare</button>
        </ng-template>
      </div>
    </div>
  </div>

  <div *ngIf="showDiagram == true">
    <hr/>
    <span class="label">{{network1Names}}</span>
    <app-sld-diff [network1]="network1s" [network2]="network2s" [pId]="subIds" [threshold]="thresholdS" pType="sub" sldId="svg1"></app-sld-diff>
    <p></p>
    <span class="label">{{network2Names}}</span>
    <app-sld-diff [network1]="network2s" [network2]="network1s" [pId]="subIds" [threshold]="thresholdS" pType="sub" sldId="svg2"></app-sld-diff>
  </div>

  <div *ngIf="diffResult">
    <hr>

    <div *ngIf="diffResult['diff.VoltageLevels'].length == 0 ; else showDifferences">
      <p>
        <span>No Differences in voltage levels for substation {{subId}}</span>
      </p>
    </div>

    <ng-template #showDifferences>
      <p>
        <span>Differences in voltage levels for substation {{subId}}</span>
      </p>
      <div *ngFor="let vl of diffResult['diff.VoltageLevels']" class="card">
        <div class="card-header">
          <div class="col-sm-6">VOLTAGE LEVEL: {{vl['vl.vlId1']}}</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2 border"></div>
            <div class="col-sm-4 border"><span class="label">{{diffResult['network1']}}</span></div>
            <div class="col-sm-4 border"><span class="label">{{diffResult['network2']}}</span></div>
            <div class="col-sm-2 border"></div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label">No Bus</span></div>
            <div class="col-sm-4 border">{{vl['vl.noBus1']}}</div>
            <div class="col-sm-4 border">{{vl['vl.noBus2']}}</div>
            <div class="col-sm-2 border"></div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">minV</span></div>
            <div class="col-sm-4 border">{{vl['vl.minV1']}}</div>
            <div class="col-sm-4 border">{{vl['vl.minV2']}}</div>
            <div class="col-sm-2 border">{{vl['vl.minV-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">maxV</span></div>
            <div class="col-sm-4 border">{{vl['vl.maxV1']}}</div>
            <div class="col-sm-4 border">{{vl['vl.maxV2']}}</div>
            <div class="col-sm-2 border">{{vl['vl.maxV-delta']}}</div>
          </div>
          <div *ngFor="let sw of vl['vl.switchesStatus-delta']" class="row">
            <div class="col-sm-2 border"><span class="label label-default">{{sw}}</span></div>
            <div class="col-sm-4 border">{{vl['vl.switchesStatusV1'][sw]}}</div>
            <div class="col-sm-4 border">{{vl['vl.switchesStatusV2'][sw]}}</div>
            <div class="col-sm-2 border"></div>
          </div>
        </div>
      </div>
    </ng-template>

    <hr>

    <div *ngIf="diffResult['diff.Branches'].length == 0 ; else showBranchesDifferences">
      <p>
        <span>No Differences in branches, for substation {{subId}}</span>
      </p>
    </div>

    <ng-template #showBranchesDifferences>
      <p>
        <span>Differences in branches for substation {{subId}}</span>
      </p>

      <div *ngFor="let branch of diffResult['diff.Branches']" class="card">
        <div class="card-header">
          <div class="col-sm-6">BRANCH: {{branch['branch.branchId1']}}</div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-sm-2 border"></div>
            <div class="col-sm-4 border"><span class="label">{{diffResult['network1']}}</span></div>
            <div class="col-sm-4 border"><span class="label">{{diffResult['network1']}}</span></div>
            <div class="col-sm-2 border"></div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label">t1.connected</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.isConnected1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.isConnected2']}}</div>
            <div class="col-sm-2 border"></div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t1.p</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.p1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.p2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal1.p-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t1.q</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.q1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.q2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal1.q-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t1.i</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.i1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal1.i2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal1.i-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label">t2.connected</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.isConnected1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.isConnected2']}}</div>
            <div class="col-sm-2 border"></div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t2.p</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.p1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.p2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal2.p-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t2.q</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.q1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.q2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal2.q-delta']}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2 border"><span class="label label-default">t2.i</span></div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.i1']}}</div>
            <div class="col-sm-4 border">{{branch['branch.terminal2.i2']}}</div>
            <div class="col-sm-2 border">{{branch['branch.terminal2.i-delta']}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

</div>
