<!--<h2>Search cases</h2>-->
<div xmlns="http://www.w3.org/1999/html">
  <div class="sidebar">

    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="q">Query (elastic search query syntax)</label>
          <input type="text" class="form-control" id="q" required [(ngModel)]="q" name="q">
        </div>
        <br />
        <div class="btn-group">
          <button type="submit" class="btn btn-info">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="align-content-start">
    <br>
    <ul class="list-group list-group-flush">
      <li *ngFor="let case of cases" class="list-group-item">
        <div>
          <h5>{{case.name}}</h5>
        </div>
        <p>uuid: {{case.uuid}}</p>
      </li>
    </ul>
  </div>
</div>
