<!--<h2>Search cases</h2>-->
<div>
  <div class="sidebar">

    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="q">Query (elastic search query syntax)</label>
          <input type="text" class="form-control" id="q" required [(ngModel)]="q" name="q">
        </div>
        <br />
        <div class="btn-group">
          <button type="submit" class="btn btn-info">Search</button>
        </div>
      </form>
    </div>
  </div>
    <br>
    <ul>
      <li *ngFor="let case of cases">
        <h4>{{case.name}} ({{case.uuid}})</h4>
      </li>
    </ul>
</div>
