.sidebar {
    position: absolute;
    /* top: 60px; */
    left: 0;
    height: 100%;
    width: 600px;
    align-items: center;
    /* background-color: #1976d2; */
    /* color: white; */
    font-weight: 600;
    margin-left: 20px;
    margin-bottom: 20px;
  }

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

