/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import "~leaflet/dist/leaflet.css";

.tablehead {
    background-color: lightgray;
    font-weight: 600;
}

.label {
    padding-left: 5px;
    padding-right: 10px;
    font-weight: 600;
}


/* leaflet related section: start */
.subs-popup .leaflet-popup-content-wrapper {
  background: #f0f0f0;
}

.subs-popup .different {
  color: #ff0000;
}

.subs-popup .same {
  color: #000000;
}

.lines-popup .leaflet-popup-content-wrapper {
  background: #f2f2f2;
}

.lines-popup .different {
  color: #ff0000;
}

.lines-popup .same {
  color: #000000;
}

.legenda-info
{
  padding: 6px 8px;
  font: 14px/16px Verdana, Geneva, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legenda {
  line-height: 18px;
  color: #555;
}

.legenda i {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* leaflet related section: end */
